@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title us</h2>

<hr />

<div style="font-size: 115%">
    <p>Over a quarter of an year ago, a group of intelligent computer science students were given the task to create the greatest, most convenient web site for booking tickets. We were inspired by the Bulgarian railway system, so we created a tool that even exceeds this flawless inspiration of ours.</p>
    <p>Today Train Ticket System™ works with a chosen set of destinations all over Europe to satisfy our customers. Our destinations include cities from over 5 countries.</p>
    <p>Currently we are a company with over 2 employees which operates over the two sides of a bedroom with a great potential for even more growth.</p>
</div>
